

body{
    text-align: center;
    background-color: rgb(159, 209, 226);
}

.timer{
    height: 150px;
    width: 150px;
    background-color: royalblue;
    color: red;
    border-radius: 7px;
    /* line-height: 80px; */
    vertical-align: auto;
    position: absolute;
    right: 480px;
    font-size: larger;

}

.main-box{
    margin: auto;
    height: 1050px;
    width: 680px;
    background-color: royalblue;
    padding: 5px;
    border-radius: 7px;
}


table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    margin-top: 5px;

}

button{
    height: 35px;
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;

    margin-top: 10px;
    border-radius: 7px;
    border: solid black;
    

}

button :hover{
    cursor: pointer;
}

.face{
    margin-top: 70px;
    height: 70px;
    font-size: 40px;
}

td {
    font-size: 27px;
    font-weight: 900;
    height: 50px;
    width: 50px;
    border: solid black;
    background-color: lightgray; 
    color: rgb(14, 114, 114);
    
   
}

td :hover{
cursor: pointer;
}
.lives span{
    color: red;
}

footer{
    font-size: 25px;
    margin: auto;
    width: 680px;
    padding: 5px;
    margin-top: 10px;
    background-color: yellow;
    border-radius: 7px;
    
  
    border-bottom: 5px solid rgb(185, 187, 69);
}

.revealed{
    background-color: lightyellow;
}
.mine{
    background-color: red;
}